<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_field :description %>
  </div>
  


<div class="field">
<%= form.label :ingredient_ids, "Ingredients" %>
<%= form.collection_select :ingredient_ids, Ingredient.order(:Name), :id, :Name,{}, multiple: true %>
</div>
<br/>
<div class="field">
    <%= form.label :cuisine_id, "Cuisine" %>
    <%= collection_select(:recipe, :cuisine_id, Cuisine.all, :id, :CuisineType, prompt: true) %>
  </div>
<br/>
<div class="field">
    <%= form.label :course_id, "Course" %>
    <%= collection_select(:recipe, :course_id, Course.all, :id, :CourseType, prompt: true) %>
  </div>
  
  <br/>
  <p>
    <%= form.file_field :image %>
  </p>
  <p>
    <%= form.label :remote_image_url, "or image URL" %><br />
    <%= form.text_field :remote_image_url %>
  </p>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
