<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_field :Description %>
  </div>

<div class="form-group">
<div class="row">
<div class="col-sm-offset-2 col-sm-8">
<%= form.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :Name do |ing| %>
<% ing.label(class: "checkbox-inline input_checkbox") {ing.check_box(class: "checkbox") + ing.text} %>
<% end %>
</div>
</div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
