<p id="notice"><%= notice %></p>



<p>
   <%= image_tag @recipe.image_url(:thumb).to_s %>
</p>


<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Course:</strong>
  <%= @recipe.course.CourseType %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @recipe.cuisine.CuisineType %>
</p>



<p>
<b>Ingredients:</b>
<%  @recipe.ingredients.each do |ingredient| %>
<%= ingredient.Name %>
</p>
<% end %>

<h2>Directions</h2>
<% @recipe.directions.each do |direction| %>
<p>
<li><%= direction.Steps %></li>
</p>
<% end %>




	<%= link_to recipe_likes_path(@recipe, like: true), method: 'post', remote: true do %>
  <i class="icon-thumbs-up"></i>
	<%= @recipe.likes.count %>likes
	<% end %>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <p><strong><%= comment.user.profile.firstname %></strong>: <%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>


<% if user_signed_in? %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', recipes_path %> |
<%= link_to 'Show Directions', recipe_directions_path(@recipe) %>
