<p id="notice"><%= notice %></p>

<h1>Comments on your Recipes</h1>


<% @notifications.each do |notification| %>
<ul>
<li><%= notification.from_name %> has commented <%=notification.comment.body %> on <%= notification.created_at %> for recipe <%=notification.comment.recipe %></li>
</ul>
<% end %>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Comments</th>-->
<!--      <th>Date of Comment</th>-->
<!--      <th colspan="50"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @notifications.each do |notification| %>-->
<!--      <tr>-->
<!--        <td><%= notification.from_name %></td>-->
<!--        <td><%= notification.comment.body %></td>-->
<!--        <td><%= notification.created_at %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

