<p id="notice"><%= notice %></p>

<h1>Notifylikes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Like</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifylikes.each do |notifylike| %>
      <tr>
        <td><%= notifylike.name %></td>
        <td><%= notifylike.user %></td>
        <td><%= notifylike.like %></td>
        <td><%= link_to 'Show', notifylike %></td>
        <td><%= link_to 'Edit', edit_notifylike_path(notifylike) %></td>
        <td><%= link_to 'Destroy', notifylike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notifylike', new_notifylike_path %>
