<p id="notice"><%= notice %></p>

<h1>Likes on your Recipes</h1>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>User</th>-->
<!--      <th>Like</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
    <% @notifylikes.each do |notifylike| %>
      <ul>
      <li><%= notifylike.name %> has liked your recipe <%=notifylike.like.recipe %> on <%= notifylike.created_at %></li>
      </ul>
     <% end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<!--<%= link_to 'New Notifylike', new_notifylike_path %>-->
